.list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  font-family: "Roboto", sans-serif;
}

.list__item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.list__checkbox {
  margin-right: 1rem;
}

.list__date {
  position: absolute;
  right: 40px;
  bottom: 5px;
  font-size: .8rem;
}

.done {
  text-decoration: line-through;
}

.rm {
  color: rgb(158, 12, 12);
  background-color: #ccc;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.rm:hover {
  color: #fff;
  background-color: rgb(112, 3, 3);
}

.empty {
  text-align: center;
}

.someones {
  background-color: rgb(194, 135, 69);
}

.filter-section {
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

.input {
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}